.jobs-con {
  padding-top: 80px;
  background-color: black;
  padding: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.search-con {
  display: flex;
  justify-content: space-between;
  border: 1px solid #868383;
  border-radius: 4px;
  width: 100%;
  margin: 0px;
}
.search-btn {
  width: 60px;
  background-color: #868383;
  border-radius: 0px;
}
label {
  color: transparent;
}
.input-box {
  outline: none;
  border: none;
  color: #ffffff;
}
.pro-con {
  margin: 20px 0px;
  width: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  border-radius: 20px;
  background-color: #868383;
}
.line {
  width: 100%;
}
.employment-con {
  color: #ffffff;
  width: 100%;
}
.text {
  color: #ffffff;
}
.box {
  width: 20px;
  margin-right: 5px;
}
.label-con {
  display: flex;
  align-items: center;
}
.employ-head {
  font-size: 20px;
}
.box-circle {
  width: 20px;
  margin-right: 5px;
}
.job-item-con {
  width: 100%;
  color: #ffffff;
  list-style-type: none;
  padding: 0px;
}
